* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --newScale : 1.3;

    /* WARNING = if new color is setting, verify that not used in png img, which was set by css filter */
    --principalColor : #F4A261;
    --colorTitle : black;
    --colorSubtitleSection: rgb(167, 167, 167);
    --highlightedSubtitle: #d0b775;
    --containerSkill : rgb(229, 229, 229);
    --skill: #E76F51;
    --nameSkill : #f18e75;
    --colorFooter: #f9f9f9;
}

html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;

}



.container_homepage{
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;

}
.contact_header{
    color: black;
    height: 35px;
    display: flex;
    padding-right: 10vw;
    justify-content: flex-end;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    text-decoration: none;
}


.menu_elements{
    text-decoration: none;    
    color: black;
}

.contact_header p {
    margin-left: 20px;
}

.navbar {
    height: 90px;
    display: flex;
    right: 10vw;
    align-items: center;
    color: black;
    text-transform: uppercase;
    justify-content: flex-end;
    z-index: 10;
    position: absolute;

}

.hamburger{
    display: none;
}

.navbar_mobile{
    display: none;
}

.container_logo{

    top: 60px;
    position: absolute;

    z-index: 10;
    left: 10vw;

    cursor: pointer;

}

.logo{
    width: 35px;
    height: 35px;
    background-size: contain;
    transform: rotate(-360deg);
    transition: all 0.8s ease-in-out;

}

.logomobile{
    background-image: url(../img/logo.png);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 15vh;
    right: 2vw;
    width: 30px;
    height: 30px;
}
    

.tel_header, .mail_header{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.logo:hover{
    transform: rotate(360deg);
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}


.nav_background{
    position: absolute;
    top: 35px;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    opacity: 0.4;
    z-index: 10;
}

.border_bottom{
    background-color: var(--principalColor);
    height: 5px;
    opacity: 0;
    transform: scale(0);
}

.selected_navbar{
    background-color: var(--principalColor);

    height: 5px;
    opacity: 1;
    transform: scale(1);
}

.selected_menu_elements{
    color: var(--principalColor);

}

.container_menu:hover .border_bottom{
    opacity: 1;
    transform: scale(1);
    transition: transform 0.6s;
    color: var(--principalColor);

}

.container_menu:hover .menu_elements{
    color: var(--principalColor);

}

.container_menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
}

.empty_bloc2{
    width: 70px;
}

.cover{
    overflow: hidden;
    /* min-width: 100%; */
    /* min-height: 100%; */
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    z-index: -2;
}

.title_presentation{
    display: flex;
    align-items: center;
    position: relative;
}

.dev{
    font-family: Raleway, sans-serif;
    font-size: 5rem;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    /*background-color: #000000;*/
}
.container_name{
    display: flex;
    justify-content: center;
}
.text_cover_img1{
    width: 16ch;
    font-family: Raleway, sans-serif;
    font-size: 3rem;
    color: black;
    font-weight: 700;
    text-transform: uppercase;

    animation: text_animation 2s steps(15), blink 0.5s alternate infinite step-end;
    border-right: solid black 3px;
    white-space: nowrap;
    overflow: hidden;
    /*background-color: #000000;*/
}
.text_cover_img2 {
    width: 18ch;
    font-family: Raleway, sans-serif;
    font-size: 3rem;
    color: black;
    font-weight: 700;
    text-transform: uppercase;

    animation: text_animation 2.3s steps(20), blink 0.5s alternate infinite step-end;
    border-right: solid black 3px;
    white-space: nowrap;
    overflow: hidden;

}

.text_cover_img3{
    width: 22ch;
    font-family: Raleway, sans-serif;
    font-size: 3rem;
    color: black;
    font-weight: 700;
    text-transform: uppercase;

    animation: text_animation 2.4s steps(21), blink 0.5s alternate infinite step-end;
    border-right: solid black 3px;
    white-space: nowrap;
    overflow: hidden;
}

.container_presentation{
    align-items: center;
}

.junior{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
    animation: opacity_junior 4s;
    opacity: 1;
    margin-bottom: -1vh;
}

.block_image{
    opacity: 1;
}

.block_image, .block_image_2, .block_image_3{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}

.block_image_2{
    position: absolute;
    top: 0;
    z-index: -2;
    opacity: 1;
    animation: unset;

}
.previousButton, .nextButton{
    background-image: url(../img/right-arrow.png);
    width: 114px;
    height: 114px;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.5;
}

.previousButton{
    transform: rotate(-180deg);
}

.portfolio{
    width: 100%;
    height: 500px;
    background-color: white;
}
.container_cover{
    display: block;
}

.block_image_3{
    position: absolute;
    top: 0;
    z-index: -3;
    opacity: 1;
}

.container_arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}


.blank_block_separation{
    width: 100%;
    height: 25vh;
}

.container_title{
    width: 100%;
    background-color: white;
}
.title{
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
    display: flex;
    color: var(--colorTitle);

    justify-content: center;
}

.star_competencetitle{
    color: var(--skill);
}

.star_skill{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
}

.star_skill span{
    color: var(--skill);
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.container_highlighted_subtitle{
    display: flex;
    justify-content: center;
}

.subtitle{
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: var(--colorSubtitleSection);
    display: flex;

    justify-content: center;
}

.blank_block_separation_title{
    height: 60px;
}
.blank_block_separation_title_section{
    height: 9vh;
}

.highlighted_subtitle{
    margin-top: 10px;
    width: 35px;
    height: 7px;
    background-color: var(--highlightedSubtitle);
    justify-content: center;
}

.container_single_project_mobile{
    display: none
}

.large_container_projects{
    display: flex;
    justify-content: center;
    /* height: 1000px; */
}

.container_projects{
    width: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.activeAnimationProjectOnMiddle{
    animation:  anim_projectsOnMiddle 0.8s ease-out forwards;
    transform: translate();
}

.activeAnimationProjectOnLeft{
    animation:  anim_projectsOnLeft 0.8s ease-out forwards;
    transform: translate();
}

.activeAnimationProjectOnRight{
    animation:  anim_projectsOnRight 0.8s ease-out forwards;
    transform: translate();
}

.project{
    width: 100%;
    height: 43vh;
    border: solid 0.5px rgb(182, 182, 182);
}

.activeAnimationProjectScale{
    animation: activeAnimationProjectScale 0.3s ease-in-out forwards;
}

.container_project{
    width: 100%;
    height: 100%;
    position: relative;
}

.img{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container_title_project{
    width: 100%;
    height: 20%;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0px;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    border-top: solid 0.5px rgb(182, 182, 182);
} 
.title_project{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.highlighted_subtitle_mini{
    width: 25px;
    height: 4px;
    background-color: var(--highlightedSubtitle);
}
.kind_of_project{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #6b6b6b;
} 
.progress_bar{
    height: 4px;
    background-color: var(--principalColor);

    bottom: 0;
    animation: anim_progressbar 10s linear;
    position: absolute;
}
.arrow{
    background-image: url(../img/arrow_next_project.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-position: center;
    transform: rotate(90deg);
}

.block{
    width: 80px;
    width: 80px;
    height: 200px;
    transform: translateX();
}

.empty_block_arrow{
    width: 8vh;
    height: 8vh;
    position: absolute;
    bottom: 2vh;
    cursor: pointer;
}

.block_presentation{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.separation_section, .separation_section2{
    width: 100%;
    height: 45vh;
    /* background-color: red; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.separation_section{
    background-image: url(../img/pexels.jpg);
}

.separation_section2{
    background-image: url(../img/computer-tablet-laptop-smart-phone-white-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_separation_section2{
    font-size: 6rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.incorporate_image{
    position: absolute;
    width: 27vw;
    height: 27vh;
    background-image: url(../img/responsive.png);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);
}

.title_separation{
    padding-top: 20px;
    font-size: 6rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 800;
}
.subtitle_separation{
    font-size: 1.5rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 400;
}

.blank_separation_project{  
    width: 100%;
    /* height: 11vh; */
    position: relative;
}

.blank_separation_project3{
    width: 100%;
    height: 15.5vh;
    position: relative;   


}

.blank_separation_project2{
    width: 100%;
    height: 5.5vh;
    position: relative;   
}

.arrow_project_bottom{
    background-image: url(../img/arrow_next_project.png);
    width: 9vh;
    height: 9vh;
    background-size: 100%;
    transform: rotate(90deg);
    margin: 0 auto;
    cursor: pointer;
}

.container_my_project{
    /* border: solid 1px black; */
    width: 80%;
    margin: 0 auto;
}

/* ----------------- SKILLS SECTION ----------------- */
/* ----------------- SKILLS SECTION ----------------- */
/* ----------------- SKILLS SECTION ----------------- */


.large_container_skills{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container_skills{
    width: 70%;

    display: grid;
    grid-template-columns: 55% 45%;
}

.container_skills_collumn_right{
    padding-left: 4vw;
}
.skills_development, .skills_webdesign{
    width: 38vw;
    transform: translate(-100vw);
}

.container_skills_collumn_right{
    transform: translate(55vw);
}

.anim_Container_Skills_Right{
    animation: anim_Container_Skills_Right 0.3s ease-in forwards;
    transform: translate();
}   


.anim_Container_Skills{
    animation: anim_Container_Skills 0.3s ease-in forwards;
    transform: translate();
}

.container_skill{
    width: 100%;
    height: 25px;
    background-color: var(--containerSkill);
}
.title_skills_development, .title_skills_webdesign{
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.name_skill, .container_skill{
    margin-bottom: 17px;
}

.last_skill, .last_soft-skill{
    margin-bottom: 0px;
}
.name_skill{
    /* width: 100%; */
    font-family: 'Raleway', sans-serif;
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    position: absolute;
    display: inline-table;
    background-color: var(--nameSkill);
    color: white;
    padding: 3px 8px 3px 8px;
}

.name_bonus_skill, .name_soft_skill{
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #968787;;
}



.skill_dev, .skill_webdesign{
    background-color: var(--skill);
    height: 100%;
}

.skillAnimation{
    animation: skillAnimation 0.6s ease-in;
    transform: translate();
}

.container_global_skill{
    width: 100%;
}

.title_skills_webdesign, .bonus_skills{
    margin-bottom: 6vh;
    margin-top: 6vh;
}


.container_soft_bonus_skill{
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
    color: rgb(61, 61, 61);
}
.container_cross{
    width: 2.5vh;
    height: 2.5vh;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 1vw;
}

.cross_vertical{
    height: 100%;
    width: 3px;
    background-color: var(--skill);

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.cross_horizontal{
    width: 100%;
    height: 3px;
    background-color: var(--skill);

}

.soft_skills, .bonus_skills{
    background-color: var(--principalColor);

    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    width: 14vw;
}

.bonus_skills{
    width: 26vw;
}

.bonus_skills_content{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;

}

.title_skills_development, .soft_skills{
    margin-bottom: 6vh;
}


/* ----------------- RESUME SECTION ----------------- */
/* ----------------- RESUME SECTION ----------------- */
/* ----------------- RESUME SECTION ----------------- */


.large_container_resume{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_resume{
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

.resume_content{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
}

.first_subtitle_resume, .second_subtitle_resume{
    color: var(--nameSkill);
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 6vh;
    font-weight: 600;
}

.container_separation_resume{
    width: 55%;
    height: 15vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
.container_cv{
    margin-top: 8vh;
    width: 55%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_cv{
    padding: 10px 20px 10px 20px;

    text-decoration: none;
    list-style: none;
    color: var(--skill);
    font-family: 'Raleway';
    float: right;
    font-size: 2.3rem;
    font-weight: 900;
    border: var(--skill) 2px solid;
    box-shadow: -7px 7px 0px 0px black;
    display: flex;
    position: relative;
    align-items: center;
    width: 150px;
    transition: 1s;

}
.link_cv:hover{
    color: black;
     animation: animButtonCV 0.3s ease-in forwards;
    border: black 2px solid;
    box-shadow: -7px 7px 0px 0px var(--skill);

}

.arrowCV{
    background-image: url(../img/arrow_next_project.png);
    width: 5vh;
    height: 5vh;
    background-size: 100%;
    position: absolute;
    transform: rotate(90deg);
    right: 10px
}

.img_resume{
    width: 100%;
    height: 100%;
    background-image: url(../img/work.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;

    display: flex;
    justify-content: center;
    border: 2px solid;
}

.container_item{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    width: 11vh;
    height: 11vh;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
}


/* ----------------- FOOTER SECTION ----------------- */
/* ----------------- FOOTER SECTION ----------------- */
/* ----------------- FOOTER SECTION ----------------- */

.large_container_footer{
    /* background-color: var(--colorFooter); */
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(10deg, rgba(231,111,81,1) 38%, rgba(241,142,117,1) 67%);

}

.blank_block_separation_title_section_footer{
    height: 4vh;
}

.container_footer_logos{
    width: 100%;
    display: flex;
    justify-content: center;
}


.subcontainer_footer{
    display: flex;
    justify-content: center;
    width: 55%
}

.container_logos{
    display: flex;
    width: 15vw;
    justify-content: center;
}


.gitlab{
    margin: 0 auto;
    width: 5vh;
    height: 5vh;
    background-image: url(../img/gitlab.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.linkedin{
    margin: 0 auto;
    width: 5vh;
    height: 5vh;
    background-image: url(../img/linkedin.png);
    background-size: cover;
    margin-bottom: 5px;


}


.title_linkedin, .title_gitlab{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.container_linkedin, .container_gitlab{
    width: 40%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    content: none;
}
.blank_block_separation_footer{
    height: 11vh;
    width: 100%;
}

.container_gitlab:hover .title_gitlab, .container_linkedin:hover .title_linkedin {
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.container_gitlab:hover .gitlab{
    background-image: url(../img/gitlab_color.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.container_linkedin:hover .linkedin{
    background-image: url(../img/linkedin_color.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.name{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
}

.contact, .mail{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 100%;
}

.mail{
    padding-bottom: 20px;

}

.container_title_footer{
    background-color: unset;
}

.subtitle_footer{
    color: black;
}
.highlighted_subtitle_footer{
    background-color: black;
}


/* ----------------- SINGLE PROJECT SECTION ----------------- */
/* ----------------- SINGLE PROJECT SECTION ----------------- */
/* ----------------- SINGLE PROJECT SECTION ----------------- */

.navbar_on_white_background{
    width: 100%;
    height: 90px;
    margin-top: 35px;
    border-top: 1px solid black;

}

.navbar_separation{
    background-color: white;
    border-top: 1px solid black;
    width: 100%;
    height: 6vh;
}

.large_container_single_project{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    position: relative;
}

.container_single_project{
    display: grid;
    grid-template-columns: 52vw 26vw;
    height: 100%;
    gap: 3%;
}

.title_single_project{
    font-size: 7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 81px;
    margin-left: -3px;
}

.left_column_single_project{
    width: 100%;
    height: 100%;
    overflow: auto;

}
.right_column_single_project{
    width: 95%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 26vw 70vh;
    position: relative;
    border: solid 0.5px rgb(182, 182, 182);
    object-fit: cover;
}

.arrow_next_project{
    position: absolute;
    bottom: -20px;
    right: 1vw;
    width: 17vh;
    height: 17vh;
    background-image: url(../img/arrow_next_project.png);
    background-size: contain;


}

.arrow_previous_project{
    position: absolute;
    top: -2vh;
    left: -8vw;
    width: 14vh;
    height: 14vh;
    background-image: url(../img/arrow_next_project.png);
    background-size: contain;
    transform: rotate(-180deg);
}

.arrow_previous_project:hover, .arrow_next_project:hover{
    /* go on https://codepen.io/sosuke/pen/Pjoqqp for calculate filter or tape filter generator css */
    filter: invert(75%) sepia(13%) saturate(2227%) hue-rotate(330deg) brightness(100%) contrast(92%);
}

.highlighted_subtitle_single_project{
    width: 60px;
    height: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--skill);
}

.container_skills_project{
    display: flex;
    flex-wrap: wrap;
}

.skill_project{
    background-color: #211f06;
    color: white;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px;

}
.date{
    color: #3d3b3b;
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
}

.content{
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    color: #3d3b3b;
}

.container_arrow_single_project{
    /* height: 50px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes cover_zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);

    }

}

@keyframes anim {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }

}

@keyframes anim2 {
    0%{
        opacity: 1;
        transform: scale(var(--newScale));
    }
    100%{
        opacity: 0;
        transform: scale(var(--newScale));
    }
}

@keyframes opacity_junior {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        /* animation: forwards; */
    }

}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}

@keyframes text_animation {
    from{
        width: 0;
    }
}

@keyframes anim_text_navbar {
    50%{
        top: -60px;
    }
    100%{
        top: -25px;
    }
}

@keyframes anim_progressbar {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
        display: none;
    }

}

@keyframes anim_projectsOnMiddle {
    0%{
        opacity: 1;
    }
    100%{
        top: 0px;
        opacity: 1;
    }
}

@keyframes anim_projectsOnLeft {
    0%{
        opacity: 1;
    }
    100%{
        left: 0px;
        opacity: 1;
    }
}

@keyframes anim_projectsOnRight {
    0%{
        opacity: 1;
    }
    100%{
        right: 0px;
        opacity: 1;
    }
}

@keyframes activeAnimationProjectScale {
    0%{
        scale: 1;
        
    }

    100%{
        
        transform: scale(1.1);
        box-shadow: 0px 4px 11px 1px black;
    }
    
}

@keyframes disableAnimationProjectScale{
    0%{
        scale: 1.1;
        
    }
    100%{
        scale: 1;
        z-index: 0;
    }

}

@keyframes skillAnimation {
    0%{
        width: 0%;
        
    }
    100%{
        transform: translate();
    }
    
}

@keyframes anim_Container_Skills{
    0%{
        
    }
    100%{
        transform: translate(0vw);
    }

}

@keyframes anim_Container_Skills_Right{
    0%{
        
    }
    100%{
        transform: translate(0vw);
    }

}

@keyframes animMobileNavbar{
    100%{
        right: 0px;
    }
}

@keyframes navbar_mobile_Animation_Closing{
    0%{
        right: 0vw;

    }
    100%{
        right: -100vw;
    }
}

@keyframes animButtonCV{
    0%{

    }
    100%{

    }
}

@media screen and (max-width:480px){
    html {
        font-size: 2.2vw;
    }

    .junior{
        font-size: 2rem;
    }
    .container_hamburger{
        position: absolute;
        right: 0px;
        top: 20px;
        transform: translateX(50%);
    }

    .container_bonus_skills_content{
        display: flex;
    }
    
    .container_skills_collumn_right{
        padding-left: 4vw;
        transform: translate(0vw);
    
    }
    .skills_development, .skills_webdesign{
        width: 38vw;
        transform: translate(-55);
    }
    
    .container_soft_skill, .container_bonus_skill{
        transform: translate(100vw);
    }

    
    
    .anim_Container_Skills_Right{
        animation: anim_Container_Skills_Right 0.3s ease-in forwards;
        transform: translate();
    }   

    .skillAnimation{
        animation: skillAnimation 0.6s ease-in;
        transform: translate();
    }
    
    
    .anim_Container_Skills{
        animation: anim_Container_Skills 0.3s ease-in forwards;
        transform: translate();
    }



    .container_cover{
        height: calc(var(--vh, 1vh) * 100)
    }

    .cover{
        height: 100%;
    }

    .block_presentation{
        height: 100%;
    }
    .container_logo{
        left: unset;
        position: absolute;

    }
    .container_logo{
        top: 20px;
        right: 25px;
    }

    .hamburger{
        display: flex;
        width: 35px;
        height: 35px;
        justify-content: space-between;
        flex-direction: column;
        align-items: end;
        cursor: pointer;
        z-index: 1;
        top: 20px;

    }

    .cross{
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: space-between;
        right: 0px;
        flex-direction: column;
        align-items: center;
        position: fixed;
        cursor: pointer;
        z-index: 10;
        transform: translateX(50%);
    }



    .bar1{
        transform: rotate(45deg);
        position: absolute;
        bottom: 0px;
    }   
    .bar2{
        transform: rotate(136deg);
    } 
    .bar1, .bar2{
        width: 100%;
        position: absolute;
        top: 50%;
        height: 4px;
        background-color: black;
    
    }

    .title{
        text-align: center;
    }

    .cross{
        display: none;
    }

    .contact_header, .nav_background, .navbar{
        display: none;
    }

    .navbar_mobile{
        width: 100vw;
        height: 100vh;
        background: linear-gradient(10deg, rgba(231,111,81,1) 38%, rgba(241,142,117,1) 67%);


        display: none;
        animation: animMobileNavbar 0.4s forwards cubic-bezier(0.080, 0.755, 0.200, 0.775);
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        transform: translate();
        z-index: -1;

    }

    .navbar_mobile_Animation_Closing{
        animation : navbar_mobile_Animation_Closing 2.4s ease forwards;
        transform: translate();
    }


    .container_navbarMobile{
        width: 80%;
        height: 60px;
        margin: 0 auto;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
    }

    .container_nav_mobile{
        display: grid;
        text-align: center;
    }

    .link_mobile{
        width: 100%;
        color: #211f06;
        text-decoration: none;

        padding: 20px;
        font-size: 2.5rem ;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
    }
 

    .circle{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #211f06;
        margin: 0 auto;
    }

    .dev{
        font-size: 6rem;
    }

    .block_image, .block_image_2, .block_image_3{
        background-position: center;
    }

    .block_presentation{
        text-align: center;

    }

    .nextButton, .previousButton{
        display: none;
    }


    .arrow{
        bottom: 2vh;
        transform: translate(-50%) rotate(90deg);
        left: 50%;   
        width: 10vh;
        height: 10vh;
    }

    .blank_block_separation{
        height: 16vh;
    }

    .container_projects{
        width: 65%;
        grid-template-columns: none;
    }

    .project{
        height: 50vh;
        min-height: 260px;
    }

    .title{
        font-size: 5rem;
    }

    .subtitle{
        font-size: 3rem;
        text-align: center;
    }

    .blank_block_separation_title{
        height: 20px;
    }

    .separation_section{
        height: 14vh;
        background-image: none;
        background-color: #312b2b;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link_cv{
        width: 125px;
    }

    .title_separation{
        font-size: 5rem;
        color: white;
        padding-top: 0px;
    }

    .subtitle{
        padding: 20px;
    }

    .subtitle_separation{
        color: white;
    
    }

    .incorporate_image{
        background-image: none;
    }

    .title_skills_development, .soft_skills {
        margin-bottom: 4vh;
    }

    .title_skills_development, .title_skills_webdesign{
        font-size: 2.3rem;
    }

    .skills_development, .skills_webdesign{
        width: 100%;
    }
    .container_skills{
        width: 80%;
        display: unset;
    }

    .name_skill{
        font-size: 1.7rem;
        height: 24px;
    }

    .container_skill{
        height: 24px;
    }

    .container_skills_collumn_right{
        padding-left: 0px;
        /* display: none; */
    }

    .title_skills_webdesign, .bonus_skills {
        margin-bottom: 4vh;
        margin-top: 4vh;
    }


    .soft_skills, .bonus_skills{
        width: 100%;
        /* padding: 5px; */
        margin-top: 5vh;
        font-size: 2.3rem;
        font-weight: 500;
    }
    .name_soft_skill, .name_bonus_skill{
        font-size: 1.9rem;
        padding-left: 10px;
    }

    .bonus_skills_content{
        font-size: 1.9rem;
        line-height: 2.1rem;
    }


    .star_skill{
        font-size: 1.9rem;
    }

    .star_skill span{
        font-size: 2.9rem;
    }

    .separation_section2{
        height: 14vh;
    }

    .title_separation_section2{
        font-size: 5rem;
    }

    .apropostitle{
        font-size: 6rem;
    }

    .container_resume{
        display: unset;
        width: 80%;
    }
    .first_subtitle_resume, .second_subtitle_resume{
        font-size: 2.1rem;
        margin-bottom: 5vh;
    }
    .second_subtitle_resume{
        margin-top: 5vh;
    }
    .resume_content{
        font-size: 1.9rem;
        line-height: 2.1rem;
    }
    .container_separation_resume{
        width: 80%;
    }
    .img_resume{
        background-size: cover;
    }
    .item{
        width: unset;
        height: unset;
        font-size: 1.8rem;
    }
    .container_logos{
        width: 35vw;
    }
    .contact, .mail{
        font-size: 1.4rem;
    }
    .linkedin, .gitlab{
        width: 5vh;
        height: 5vh;
    }
    .blank_block_separation_footer{
        height: 11vh;
    }
    .name{
        margin-top: 14px;
    }


    /* --------------------- SECTION PROJET ---------------------  */

    .navbar_on_white_background{
        border: none;
        display: none;
    }
    .navbar_separation{
        height: 70px;
    }

    .large_container_single_project{
        height: unset;
        position: unset;
    }


    .container_content_project{
        grid-area: content;
    }

    .see_more{
        font-style: italic;
        font-size: 1.9rem;
        color: #3e3ef2;
        text-decoration: underline;
        cursor: pointer;
    }
    .content_cut{
        display: inline-block;
    }
    .container_single_project{
        display: none;
    }

    .container_single_project_mobile{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "header header header header"
          "skill skill skill skill"
          "img img img img"
          "img img img img"
          "img img img img"

          "content content content content"
          "content content content content"
          ;
    }

    .container_title_single_project{
        grid-area: header;
    }

    .title_single_project{
        font-size: 12vw;
        line-height: 5rem;
    }

    .highlighted_subtitle_single_project{
        margin-bottom: 2vh;
        margin-top: 15px;
        height: 9px;

    }

    .container_skill_grid{
        grid-area: skill;
    }

    .date{
        margin-top: 0;
        font-size: 2rem;
        margin-bottom: 2vh;
        font-weight: 500;
        font-style: italic;
    }

    .content{
        font-size: 2.6rem;
        text-align: justify;
        margin-top: 15px;
        text-align: justify;

    }

    .contentCut{
        text-align: justify;
    }

    .contentEntire{
        display: none;
    }
    .container_image_single_project{
        grid-area: img;
        width: 100%;
        position: relative;
        border: solid 1px black;

    }

    .right_column_single_project{
        width: 100%;
    }

    .arrow_next_project{
        display: none;
    }
    .arrow_next_project_mobile{
        width: 6vh;
        height: 6vh;
        bottom: 50%;
        transform: translateY(50%) translateX(70%);
        right: 0vw;
        background-color: white;
        position: absolute;
        background-image: url(../img/arrow_next_project.png);
        background-size: contain;
    } 

    .arrow_project_bottom{
        width: 8vh;
        height: 8vh;
        filter: unset;
        background-color: white;
    }

    .blank_separation_project2{
        display: none;
    }

    .blank_separation_project3{
        height: 2.5vh;
    }

    .blank_separation_project4{
        height: 5.5vh;
        width: 100%;
    }

    .container_arrow_single_project{
        margin-top: 15px;
    }

    .arrow_previous_project{
        display: none;
    }

    .arrow_previous_project_mobile{
        width: 6vh;
        height: 6vh;
        filter: unset;
        background-color: white;
        bottom: 50%;
        transform: rotate(180deg) translateY(-50%) translateX(70%);
        left: 0px;
        position: absolute;
        background-image: url(../img/arrow_next_project.png);
        background-size: contain;
    }

    #blue, #yellow, #green, #red, #pink, #orange{
        width: unset;
        min-height: 35px;
    }

    .blocUtilisateur{
        flex-wrap: unset;
        flex-wrap: nowrap;
    }

    .container_separation_resume{
        height: 7vh;
    }
}


/* ON SMALL DEVICES */

@media screen and (max-width:340px){
    html{
        /* font-size: 7px; */
    }

    .container_skill{
        height: 21px;
    }

    .name_skill{
        height: 20px;
    }

    .separation_section2{
        height: 14vh;
        background-image: none;
        background-color: black;
        color: white;
    }
}

/* ON BIG HEIGHT DEVICES */

@media screen and (min-height:700px){

    .project{
        height: 40vh;
    }
}