/* *{
    box-sizing: border-box;
    margin: 0;
    top: 0;
} */
.container_calculatrice{
    width: 100%;
    height: 80vh;
    background-color: rgb(236, 236, 236);
    background-size: cover;
    background-repeat: no-repeat;
    border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fond{
    padding: 60px 30px 20px 30px;
    margin: 100px auto;
    width: 420px;
    height: 550px;
    background: linear-gradient(156deg, rgb(67, 65, 33) 0%, rgb(28, 31, 31) 68%);
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fondBordure{
    margin: 60px auto;
    width: 428px;
    height: 558px;
    background: linear-gradient(white, grey);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 15px 5px rgba(119, 119, 119, 0.75);
    border: rgb(145, 143, 143) solid 2px;

}

.ecran{
    margin: 0px auto;
    background-color: rgb(190, 235, 145);
    width: 98%;
    height: 77px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
    position: relative;
    overflow: hidden;
}

.centreEcran{
    margin: 0px auto;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    display: flex;
    margin-top: 30px;
    margin-right: 25px;
    flex-direction: row-reverse;
    font-size: 1.6rem;
}

.ecranEffet{
    background: linear-gradient(rgb(230, 255, 205), rgb(190, 235, 145)) ;
    margin: 0px auto;
    width: 100%;
    height: 52px;
    border-radius: 10px;
    position: absolute;
    top: 7px;
    display: flex;
    align-items: center;
    float: right;
}

.degradeEcran{
    margin: 8px 0px 43px 0px;
    width: 100%;
    height: 85px;
    border-radius: 10px;
    background: linear-gradient(grey, white);
    display: flex;
    align-items: center;
    justify-content: center;

}

.bouton{
    background-color: rgb(240, 228, 228);
    width: 75px;
    height: 37px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.6px 0.6px white;
    box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
    position: relative;
    overflow: hidden;
}

.bouton2{
    background-color: rgb(240, 228, 228);
    width: 75px;
    height: 46px;
    border-radius: 10px;
    display: flex;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.6px 0.6px white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
    overflow: hidden;
    position: relative;
}

.boutonEffet{
    background-color: rgb(223, 222, 222);
    width: 100%;
    height: 71px;
    border-radius: 10px;
    position: absolute;
    top: 6px;
    left: 0;
}

.boutonEffetEgal{
    background-color: rgb(223, 222, 222);
    width: 100%;
    height: 46px;
    border-radius: 10px;
    position: absolute;
    top: 6px;
    left: 0;
}

.boutonEffetRelative{
    width: 100%;
    height: 46px;
    border-radius: 10px;
    position: relative;
}



.boutonEffet3{
    background-color: rgb(209, 209, 209);
    width: 100%;
    height: 46px;
    position: absolute;
    top: 17px;
}

.boutonEffet4{
    background-color: rgb(209, 209, 209);
    width: 100%;
    height: 95px;
    position: absolute;
    top: 18px;
}

.centreChiffre{
    width: 100%;
    height: 46px;
    position: relative;
    display: flex;
    justify-content: center;
}

.aligneChiffreZero{
    width: 100%;
    height: 46px;
    position: relative;
    display: flex;
    margin-left: 30px;
}

.centre{
    position: absolute;
    top: -19px;

}

.centreEgal{
    position: absolute;
    top: 62px;
}

.bloc{
    width: 175px;
    height: 147px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.bloc2{
    width: 81px;
    height: 146px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bloc3{
    width: 81px;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.bouton3{
    background-color: rgb(240, 228, 228);
    width: 74px;
    height: 95%;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.6px 0.6px white;
    justify-content: center;   
    align-items: flex-end;
    padding-bottom: 3px;
    box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
    position: relative;
    overflow: hidden;

}

.boutonZero{
    background-color: rgb(240, 228, 228);
    width: 95%;
    height: 46px;
    border-radius: 10px;
    display: flex;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif; 
    text-shadow: 0.6px 0.6px white;
    align-self: flex-end; 
    align-items: center;
    padding-left: 28px;
    position: absolute;
    top: 3px;
    box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
    overflow: hidden;

}

.boutonPoint{
    background-color: rgb(240, 228, 228);
    width: 90%;
    height: 46px;
    border-radius: 10px;
    display: flex;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.6px 0.6px white;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
    position: relative;
    overflow: hidden;
}

.bouton, .bouton2, .bouton3, .boutonZero, .boutonPoint{
    border: solid 1px rgb(133, 132, 132);
}


.degrade{
    background: linear-gradient(grey, white);
    width: 82px;
    height: 43px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.degradeZero{
    background: linear-gradient(grey, white);
    width: 100%;
    height: 52px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative
}

.degradePoint{
    background: linear-gradient(grey, white);
    width: 100%;
    height: 52px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.degradeEgal{
    background: linear-gradient(grey, white);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.boutonZero:hover, .bouton:hover, .bouton2:hover, .bouton3:hover, .boutonPoint:hover{
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
}

@media screen and (max-width:480px){
    .fondBordure{
        transform: scale(var(--vw-scale));
    }

    .container_calculatrice{
        background-color: none;
        border: none;
        height: 48vh;
    }

    .title_single_project{
        letter-spacing: -0.3rem;
    }
    .centreEcran{
        font-size: 3.6rem;
    }
    .centre{
        font-size: 3.2rem;
    }
}