.container_labonneboite{
    width: 100%;
    height: 200vh;
    border: 8px solid black;

}

.labonneboite{
    background-image: url(../img/labonneboite_research.png);
    background-size: cover;
    width: 25%;
    margin: 0 auto;
        margin-top: 0px;
    height: 186vh;
    margin-top: 50px;
    border: solid 1px black;
    background-repeat: no-repeat;
}


@media screen and (max-width:480px){
    .container_labonneboite{
        width: 100%;
        height: 1500px;
        border: none;
    }
    
    .labonneboite{
        margin: 0 auto;
        background-size: contain;
        width: 100%;
        height: 1500px;
    }
}

/* ON SMALL DEVICES */

@media screen and (max-width:340px){
    .labonneboite{
        background-size: contain;
        height: 220vh;
    }

    .container_labonneboite{
        height: 220vh;
    }
}