*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}


.body{
    background-color: rgb(16, 7, 59);

}


.bloc{
    display: flex;
    font-size: 5rem;
}

.container{
    /* margin: 0, auto; */
    width: 100%;
    height: 80vh;
    background-color: rgb(16, 7, 59);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.score{
    height: 100%;
    width: 170px;
    background-color: rgb(16, 7, 59);
    font-family: 'DotGothic16';
    text-transform: uppercase;
    line-height: 1;
    color: white;
    transform: scale(0.6);
}

.ecritureScore{
    font-size: 4.3rem;
}

.ecriturePlayer1{
    font-size: 2.3rem;
    text-align: center;
    letter-spacing: 0.0306rem;
}

.scoreplayer1{
    display: flex;
    font-size: 7rem;
    justify-content: center;
    margin-top: 15px;
}

.containerScore{
    margin-top: 130px;
    margin-bottom: 25px;

    width: 100%;
    height: 260px;
    background-color: rgb(16, 7, 59);
    border-bottom: solid 6px white;
}

.containerGameplay{
    width: 100%;
    min-height: 50px;
    background-color: rgb(16, 7, 59);
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: rgb(226, 228, 113);
}

.box{
    width: 1000px;
    height: 72vh;
    border: solid 13px white;
    position: relative;
}

.filet{
    width: 13px;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tiret{
    width: 13px;
    height: 20px;
    background-color: rgb(16, 7, 59);
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(226, 228, 113);

    position: absolute;
}

.planchePlayer1{
    width: 20px;
    height: 100px;
    margin-left: 10px;
    background-color: white;
    top : 28vh;
    position: absolute;
}

.planchePlayer2{
    width: 20px;
    height: 100px;
    background-color: white;
    top : 28vh;
    right: 10px;
    position: absolute;
}

.winnerEcriture{
    position: absolute;
    top: 16vh;
    color: rgb(226, 228, 113);
    background-color: rgb(16, 7, 59);
    font-family: 'DotGothic16';
    font-size: 5rem;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.replay{
    padding: 8px;
    width: 220px;
    margin : 0 auto;
    text-align: center;
    font-family: 'DotGothic16';
    color: rgb(226, 228, 113);
    border: solid 5px rgb(226, 228, 113);
    background-color: rgb(16, 7, 59);
    font-size: 2rem;
    top: 38vh;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    cursor: pointer;
}

.replay:hover{
    color: rgb(16, 7, 59);
    background-color: rgb(226, 228, 113);
    transition: ease-in .3s;
}

.space{
    /* margin-top: 30px; */
    font-size: 1.6rem;
    color: rgb(226, 228, 113);
    font-family: 'DotGothic16';
    text-align: center;
    position: absolute;
    bottom: 0vh;
}

.commentaire_lancement{
    font-size: 1.6rem;
    color: rgb(226, 228, 113);
    font-family: 'DotGothic16';
    text-align: center;
    position: absolute;
    top: 1vh;
}


@media screen and (max-width:480px){
    .container{
        display: none;
    }

    .global_container{
        background-image: url(../img/pong_entire.png);
        width: 100%;
        height: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}