.container_postit{
    width: 100%;
    height: 89vh;
    border: 8px solid black;
    margin-bottom: 2vh;
}

.postit, .postit2{
    background-size: 100%;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    border: solid 1px black;
    background-repeat: no-repeat;
}
.postit{
    background-image: url(../img/postit_firstpage.png);

}

.postit2{
    background-image: url(../img/postif_profilpage.png);

}

@media screen and (max-width:480px){
    .container_postit{
        height: 31vh;
        border: none;
    }
}
