<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Développeur web, création de sites front-end et back-end junior. Porfolio de mes compétences en webdesign et côté serveur, responsive et desktop" >
        <title>
            {% block title %} Clément Vasques | Developpeur Web {% endblock %}
        </title>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}



        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oi&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Oi&family=Quicksand:wght@300&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}
            {#{{ for add css on each project go on each project's template  }}#}
            
        {% endblock %}

    </head>
    <body>
        {% block body %}
            {% include 'cover.html.twig' %}

            {% include 'navbar.html.twig' %}

            {% include 'mainPage.html.twig' %}

            {# {% include 'project.html.twig' %} #}


        {% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="{{ asset('js/main.js') }}"></script>

    </body>
</html>
