{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/calculatrice.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

{% endblock %}

{% block body %}

<div class="container_calculatrice">
    <div class="fondBordure">
        <div class="fond">
            <div class="degradeEcran">
                <div class="ecran">
                    <div class="ecranEffet">
                        <div class="centreEcran"></div>
                    </div>
                </div>
            </div>
            <div class="degrade corrige">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">C</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade reset">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">R</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade divise">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">/</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade multiple">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">x</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade digit">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">7</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade digit">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">8</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade digit">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">9</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade moins">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">-</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade digit">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade digit">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade digit">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="degrade plus">
                <div class="bouton">
                    <div class="boutonEffet">
                        <div class="boutonEffetRelative">
                            <div class="boutonEffet3">
                                <div class="centreChiffre">
                                    <div class="centre">+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bloc">
                <div class="degrade digit">
                    <div class="bouton2">
                        <div class="boutonEffet">
                            <div class="boutonEffetRelative">
                                <div class="boutonEffet3">
                                    <div class="centreChiffre">
                                        <div class="centre">1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="degrade digit">
                    <div class="bouton2">
                        <div class="boutonEffet">
                            <div class="boutonEffetRelative">
                                <div class="boutonEffet3">
                                    <div class="centreChiffre">
                                        <div class="centre">2</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="degradeZero">
                    <div class="boutonZero">
                        <div class="boutonEffet">
                            <div class="boutonEffetRelative">
                                <div class="boutonEffet3">
                                    <div class="aligneChiffreZero">
                                        <div class="centre">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bloc2">
                <div class="degrade digit">
                    <div class="bouton2">
                        <div class="boutonEffet">
                            <div class="boutonEffetRelative">
                                <div class="boutonEffet3">
                                    <div class="centreChiffre">
                                        <div class="centre">3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="degradePoint point">
                    <div class="boutonPoint">
                        <div class="boutonEffet">
                            <div class="boutonEffetRelative">
                                <div class="boutonEffet3">
                                    <div class="centreChiffre">
                                        <div class="centre">.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="bloc3">
                <div class="degradeEgal">
                    <div class="bouton3">
                        <div class="boutonEffet">
                            <div class="boutonEffetRelative">
                                <div class="boutonEffet4">
                                    <div class="centreChiffre">
                                        <div class="centreEgal">=</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
            <script src="{{ asset('js/calculatrice.js') }}"></script>
{% endblock %}