    <header class="container_cover">
        <div id="cover" class="cover">
            <img src="/img/markus-spiske-fpTVkXjxL_Y-unsplash.jpg" alt="un ordinateur portable" class="block_image">
            <img src="/img/artem-sapegin-b18TRXc8UPQ-unsplash.jpg" alt="un écran d'ordinateur montrant un langage informatique" class="block_image_2">
            <img src="/img/brands-people-yaxwxCkm-VY-unsplash.jpg" alt="un bureau avec des blocs notes" class="block_image_3">
            <div class="progress_bar bar"></div>
        </div>
        <div class="container_arrow">
            <a href="#portfolio" class="empty_block_arrow">
                <div class="arrow"></div>
            </a>
        </div>

        <div class="block_presentation">
            <div class="previousButton"></div>
            <div class="title_presentation">
                <div class="container_presentation">
                    <h2 class="junior">Junior</h2>
                    <h1 class="dev">Développeur web</h1>
                    <div class="container_name">
                        <h1 class="text_cover_img1">Clément Vasques</h1>
                        <div class="text_cover_img2">Créatif & passioné !</div>
                        <div class="text_cover_img3">Des projets innovants...</div>
                    </div>
                </div>
            </div>
            <div class="nextButton"></div>
        </div>
    </header>
    

    

