
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/crea_css.css') }}">
{% endblock %}

{% block body %}
    <div class="global_container">
        <div class="ciel">
            <div class="containerSoleil">
                <div class="soleil"></div>



                <div class="nuageposition">
                    <div class="nuage">
                        <div class="rond1"></div>    
                        <div class="rond2"></div>
                        <div class="rond3"></div>
                    </div>
                    <div class="nuage3">
                        <div class="rond31"></div>
                        <div class="rond32"></div>
                    </div>
                    <div class="nuage2">
                        <div class="rond21"></div>
                    </div>
                </div>
                <div class="nuageposition2">
                    <div class="nuage">
                        <div class="rond1"></div>    
                        <div class="rond2"></div>
                        <div class="rond3"></div>
                    </div>
                    <div class="nuage3">
                        <div class="rond31"></div>
                        <div class="rond32"></div>
                    </div>
                    <div class="nuage2">
                        <div class="rond21"></div>
                    </div>
                </div>
                <div class="nuageposition3">
                    <div class="nuage">
                        <div class="rond1"></div>    
                        <div class="rond2"></div>
                        <div class="rond3"></div>
                    </div>
                    <div class="nuage3">
                        <div class="rond31"></div>
                        <div class="rond32"></div>
                    </div>
                    <div class="nuage2">
                        <div class="rond21"></div>
                    </div>
                </div>
            </div>
            <div class="blocMontagne">
                
                <div class="montagne5"></div>
                <div class="montagne3"></div>
                <div class="montagne31"></div>
                <div class="montagne4"></div>
                <div class="montagne2"></div>
                <div class="montagne"></div>
                <div class="montagne41"></div>
                <div class="montagne21"></div>

            </div>
            <div class="coline6"></div>
            <div class="coline7"></div>
            <div class="coline4"></div>
            <div class="coline3"></div>
            <div class="coline2"></div>
            <div class="coline"></div>
            <div class="coline5"></div>


            <div class="nuageposition4">
                <div class="nuage">
                    <div class="rond1"></div>    
                    <div class="rond2"></div>
                    <div class="rond3"></div>
                </div>
                <div class="nuage3">
                    <div class="rond31"></div>
                    <div class="rond32"></div>
                </div>
                <div class="nuage2">
                    <div class="rond21"></div>
                </div>
            </div>

            <div class="nuageposition5">
                <div class="nuage">
                    <div class="rond1"></div>    
                    <div class="rond2"></div>
                    <div class="rond3"></div>
                </div>
                <div class="nuage3">
                    <div class="rond31"></div>
                    <div class="rond32"></div>
                </div>
                <div class="nuage2">
                    <div class="rond21"></div>
                </div>
            </div>

            <div class="perso">
                <div class="tete">
                    <div class="containerSourcils">
                        <div class="forme">
                            <div class="formebouche"></div>
                        </div>
                        <div class="bouche">
                            <div class="langue">
                                <div class="dent"></div>
                            </div>
                        </div>
                        <div class="sourcil">
                            <div class="Sourcil">
                                <div class="SourcilRond"></div>
                            </div>
                            <div class="Sourcil2">
                                <div class="SourcilRond"></div>
                            </div>
                            <div class="oeil">
                                <div class="rondOeil">
                                    <div class="rondrond">
                                        <div class="rondrondrond"></div>
                                        <div class="rondrondrond2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="oeil2">
                                <div class="rondOeil">
                                    <div class="rondrond">
                                        <div class="rondrondrond"></div>
                                        <div class="rondrondrond2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carre">

                    <div class="corps">
                        <div class="brasG">
                        </div>
                    </div>
                    <div class="corps2">
                    </div>
                </div>
                <div class="pantalon"></div>
            </div>
        </div>
    </div>
    
{% endblock %}
