<footer class="large_container_footer">

        <div id="contact" class="blank_block_separation_footer contacttitle title"></div>
        <div class="container_title container_title_footer">
            <h1  class="title projettitle">Contact</h1>
            <h2 class="subtitle subtitle_footer">Mes réseaux</h2>
            <div class="container_highlighted_subtitle">
                <div class="highlighted_subtitle highlighted_subtitle_footer"></div>
            </div>
            <div class="blank_block_separation_title_section_footer"></div>
        </div>

        <div class="container_footer_logos">
            <div class="subcontainer_footer">
                <div class="container_logos">
                    <a href="https://gitlab.com/clementvasques" class="container_gitlab">
                        <div class="gitlab"></div>
                        <div class="title_gitlab">Gitlab</div>
                    </a>
                    <a href="https://fr.linkedin.com/in/cl%C3%A9ment-vasques-5a25ba108?trk=public_profile_browsemap_profile-result-card_result-card_full-click" class="container_linkedin">
                        <div class="linkedin"></div>    
                        <div class="title_linkedin">Linkedin</div>
                    </a>
                </div>
            </div>
        </div>
        <h1 class="name">Clément Vasques</h1>
        <a href="tel:+3371740393" class="contact">Tél. : 06 71 74 03 93</a>
        <a href="mailto:cle.vasques@gmail.com" class="mail">Mail : cle.vasques@gmail.com</a>
    </div>
</footer>