{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/la_bonne_boite.css') }}">
{% endblock %}

{% block body %}
    <div class="container_labonneboite">
        <div class="labonneboite"></div>
    </div>



{% endblock %}


{% block javascripts %}
            {# <script src="{{ asset('/.js') }}"></script> #}
{% endblock %}