<main class="portfolio">

    <div id="portfolio" class="blank_block_separation"></div>

    <div class="container_title">
        <h1  class="title projettitle">Mes projets web</h1>
        <div class="blank_block_separation_title"></div>
        <h2 class="subtitle">Des expériences concrètes</h2>
        <div class="container_highlighted_subtitle">
            <div class="highlighted_subtitle"></div>
        </div>
        <div class="blank_block_separation_title_section"></div>
    </div>

    <div class="large_container_projects">
        <div class="container_projects">

            {% for project in projects %}
                <a href="{{ path("app_projet", {id:project.id})  }}" class="project" data-id="{{ project.id }}">
                    <img src="{{ project.SrcImg }}" alt="{{ project.AltImg }}" title="{{ project.TitleImg }}"  class="container_project img"></img>
                </a>
            {% endfor %}
        </div>    
    </div>

    <div class="blank_block_separation"></div>

    <div class="separation_section">
        <div class="container_responsive">
            <h3 class="title_separation">Responsive</h3>
            <h3 class="subtitle_separation">Compatibilité tous supports</h3>
        </div>
        <div class="incorporate_image"></div>
    </div>

    <div class="skills_section">

        <div id="competences" class="blank_block_separation"></div>

        <div class="container_title">
            <h1 class="title competencetitle">Compétences<span class="star_competencetitle">*</span></h1>
            <div class="blank_block_separation_title"></div>
            <h2 class="subtitle">Langages, conception graphique & qualités</h2>
            <div class="container_highlighted_subtitle">
                <div class="highlighted_subtitle"></div>
            </div>
            <div class="blank_block_separation_title_section"></div>
        </div>



        <div class="large_container_skills">
            <div class="container_skills">
                <div class="container_skills_collumn_left">
                    <div class="skills_development">
                        <h2 class="title_skills_development">Développement</h2>
                        <div class="container_global_skill">
                            {% for skill in skills_dev %}
                                <div class="name_skill">{{ skill[0] }}</div>
                                <div class="container_skill">
                                    <div class="skill_dev" data-score="{{ skill[1] }}"></div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="skills_webdesign">
                        <h2 class="title_skills_webdesign">Graphisme</h2>
                        <div class="container_global_skill">
                            {% for skill in skills_webdesign %}
                                <div class="name_skill">{{ skill[0] }}</div>
                                <div class="container_skill">
                                    <div class="skill_webdesign" data-score="{{ skill[1] }}"></div>
                                </div>
                            {% endfor %}
                            <div class="star_skill"><span>*</span>Il ne s'agit pas de considérer mes compétences en développement et en graphisme de manière absolue ; c'est plutôt un moyen de comparer mes propres compétences entre elles.</div>
                        </div>
                    </div>
                </div>
                <div class="container_skills_collumn_right">
                    <div class="container_soft_skill">
                        <div class="soft_skills">Savoirs-être</div>

                        <div class="container_soft_bonus_skill">
                            <div class="container_cross">
                                <div class="cross_horizontal"></div>
                                <div class="cross_vertical"></div>
                            </div>
                            <div class="name_soft_skill">Persevérance</div>
                        </div>
                        <div class="container_soft_bonus_skill">
                            <div class="container_cross">
                                <div class="cross_horizontal"></div>
                                <div class="cross_vertical"></div>
                            </div>
                            <div class="name_soft_skill">Adaptation</div>
                        </div>
                        <div class="container_soft_bonus_skill">
                            <div class="container_cross">
                                <div class="cross_horizontal"></div>
                                <div class="cross_vertical"></div>
                            </div>
                            <div class="name_soft_skill">Esprit d'équipe</div>
                        </div>
                        <div class="container_soft_bonus_skill">
                            <div class="container_cross">
                                <div class="cross_horizontal"></div>
                                <div class="cross_vertical"></div>
                            </div>
                            <div class="name_soft_skill last_soft-skill">Curieux</div>
                        </div>
                    </div>
                    
                    <div class="container_bonus_skill">
                        <div class="bonus_skills">Qualité supplémentaire</div>

                        <div class="container_soft_bonus_skill">
                            <div class="container_cross">
                                <div class="cross_horizontal"></div>
                                <div class="cross_vertical"></div>
                            </div>
                            <div class="name_bonus_skill">Sociologie</div>
                        </div>
                        <div class="container_bonus_skills_content">
                            <p class="bonus_skills_content">De fait éloignée au premier abord du développement, la sociologie n'en reste pas moins un outil utile pour toutes disciplines intellectuelles, ce dont fait partie l'informatique. Comment se structurent des mécanismes, comprendre les enjeux et les manières de faire ou encore les motivations personnelles, autant d'instruments qui facilitent le développement de projets divers et variés.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="blank_block_separation"></div>

    <div class="separation_section2">
        <div class="title_separation_section2">Front & Back</div>
        {# <div class="incorporate_image"></div> #}
    </div>

    <div id="apropos" class="blank_block_separation"></div>

    <div class="container_title">
        <h1 class="title apropostitle">à propos</h1>
        <div class="blank_block_separation_title"></div>
        <h2 class="subtitle">Je cherche un job !</h2>
        <div class="container_highlighted_subtitle">
            <div class="highlighted_subtitle"></div>
        </div>
        <div class="blank_block_separation_title_section"></div>
    </div>

    <div class="large_container_resume">

        <div class="container_resume">
            <div class="container_resume_column_left">
                <div class="first_subtitle_resume">Développeur passionné</div>
                <p class="resume_content">Mon attrait pour le développement a débuté au cours de l’été 2020. J’ai toujours eu une appétence pour l’informatique, mais c’est surtout par le biais d’un projet que j’ai décidé d’apprendre le développement. J’ai dès lors acheté mon premier livre d’apprentissage et j’ai commencé à me former en autodidacte sur Python tout en suivant des tutoriels sur internet et en postant sur les forums. Diplômé en infographie et d’un Master de recherche en sociologie, je ne m’attendais pas à ce que cette reconversion me plaise autant ! Que ce soit la résolution de problèmes techniques, la création ou encore la réflexion plus en amont sur la construction d’un projet, toutes les cases sont cochées !</p>
            </div>
            <div class="container_resume_column_right">
                <div class="second_subtitle_resume">Les envies, les projets...</div>
                <p class="resume_content">A titre personnel, j’ai un gros projet sur lequel je travaille depuis quelque temps : une application d’apprentissage de langues étrangères.  Encore en phase exploratoire, le projet a tout de même de solides bases : on peut remettre des phrases dans l’ordre et les réécrire (avec des signaux visuels lorsque l’on se trompe). C’est en tout cas un super moyen pour progresser en ayant une boussole et des objectifs précis.</p>
                <br>
                <p class="resume_content">Je pense que mon profil a une petite pré-disposition pour le front-end, mais le back m’intéresse aussi tout autant ! Les opportunités me guideront probablement vers l’un ou l’autre. Quoi qu’il en soit, j’ambitionne plutôt de travailler en équipe et de partager ce qui au fil du temps est devenu une passion.</p>
            </div>
        </div>
            <div class="container_cv">
                <a class="link_cv" href="../img/CV_Developpeur_Web_Clement_Vasques.pdf" target="_BLANK">CV
                    <div class="arrowCV"></div>
                
                </a>
            </div>

        <div class="container_separation_resume">

            <div class="img_resume">

                <div class="container_item">
                    <h3 class="item">
                        Php
                    </h3>
                    <h3 class="item">
                        JS
                    </h3>
                    <h3 class="item">
                        Symfony
                    </h3>
                    <h3 class="item">
                        HTML
                    </h3>
                    <h3 class="item">
                        CSS
                    </h3>
                </div>
            </div>
            
        
        </div>
    </div>

    {% include 'footer.html.twig' %}

</main>

{% block javascripts %}
            <script src="{{ asset('js/animNavbarOnScroll.js') }}"></script>
            <script src="{{ asset('js/selectedMenuOnScroll.js') }}"></script>
            <script src="{{ asset('js/cover.js') }}"></script>
            <script src="{{ asset('js/projectsOnMainpage.js') }}"></script>
            <script src="{{ asset('js/animSkills.js') }}"></script>

{% endblock %}