{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/mastermind.css') }}">
{% endblock %}

{% block body %}


<div class="container_mastermind">
<div class="aideAllumage">
        <div class="containerAideAllumage"></div>
    </div>
    <div id="masterMind">
            <div class="content_demarrage ">
                    <p class"">Appuyez sur On pour démarrer la partie</p>
            </div>
        <div class="affichageOn">
            <div class="ON">ON</div>
        </div>
        <div class="affichageAllumage">
            <div id="allumage"></div>
        </div>
        <div class="containerLignes">
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
    
            <div class="bloc">
                <div class="selectionBouton1"></div>
                <div class="selectionBouton2"></div>
                <div class="selectionBouton3"></div>
                <div class="selectionBouton4"></div>
                
                <div class="info">
                    <div class="pion1"></div>
                    <div class="pion2"></div>
                    <div class="pion3"></div>
                    <div class="pion4"></div>
                </div>
            </div>
        </div>

        <div class="containerUtilisateur">
            <div class="blocUtilisateur">
                <div id="blue" class="ball"></div>
                <div id="yellow" class="ball"></div>
                <div id="green" class="ball"></div>
                <div id="red" class="ball"></div> 
                <div id="pink" class="ball"></div>
                <div id="orange" class="ball"></div> 
    
            </div>
            <div id="buttonUtilisateur">
                <div class="containerAbsolute">
                    <div id="valide">GO
                </div>
                </div>
                <div class="containerAbsolute2">
                    <div id="clear">C</div> 
                </div>
                <div class="containerAbsolute3">
                    <div id="reset">R</div> 
                </div>
            </div> 
        </div>
        <div class="containerAide">
            <div class="affichageAide">
                <div class="indiceContent"></div>
            </div>
        </div>
        <div class="containerDificult">
            <div class="dificult">
                NIVEAUX
                <div id="level">
                    <div id="normal">NORMAL</div>
                    <div id="difficile">DIFFICILE</div>
                    <div id="extreme">EXTREME</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
            <script src="{{ asset('js/mastermind.js') }}"></script>
{% endblock %}