<div class="container_homepage">
    <div class="contact_header">
        <a href="mailto:cle.vasques@gmail.com" class="mail_header">Mail : cle.vasques@gmail.com</a>
        <a href="tel:+3371740393" class="tel_header">Tél. : 06 71 74 03 93</a>
    </div>
    <div class="nav_background"></div>
    <div class="container_navbarMobile">
        <div class="container_logo">
            {% if  app.request.get('_route') == 'app_projet' %}
                <a href="{{ path("app_clement_vasques", {'_fragment':'cover'}) }}">
                    <img alt="logo du site web https://clement-vasques.fr" src="/img/logo.png" class="logo">
                </a>
                {% else %}
                <a href="#cover">
                    <img alt="logo du site web https://clement-vasques.fr" src="/img/logo.png" class="logo">
                </a>
            {% endif %}
        </div>
        <div class="container_hamburger">
            <div class="hamburger">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="cross">
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>
        </div>
    </div>

    
    <nav class="navbar_mobile">
        <div class="container_nav_mobile">
            {% if  app.request.get('_route') == 'app_projet' %}
                <a href="{{ path("app_clement_vasques", {'_fragment':'portfolio'}) }}" class="link_mobile">Portfolio</a>
            {% else %}
                <a href="{{ "#portfolio" }}" class="link_mobile">Portfolio</a>
            {% endif %}

            {% if  app.request.get('_route') == 'app_projet' %}
                <a href="{{ path("app_clement_vasques", {'_fragment':'competences'}) }}" class="link_mobile">Compétences</a>
            {% else %}
                <a href="{{ "#competences" }}" class="link_mobile">Compétences</a>
            {% endif %}
            {% if  app.request.get('_route') == 'app_projet' %}
                <a href="{{ path("app_clement_vasques", {'_fragment':'apropos'}) }}" class="link_mobile">à propos</a>
            {% else %}
                <a href="{{ "#apropos" }}" class="link_mobile">à propos</a>
            {% endif %}
            {% if  app.request.get('_route') == 'app_projet' %}
                <a href="{{ path("app_clement_vasques", {'_fragment':'contact'}) }}" class="link_mobile">Contact</a>
            {% else %}
                <a href="{{ "#contact" }}" class="link_mobile">Contact</a>
            {% endif %}

            {% if  app.request.get('_route') == 'app_projet' %}
                <a href="{{ path("app_clement_vasques", {'_fragment':'cover'}) }}">
                    <div class="logo logomobile"></div>
                </a>
            {% else %}
                <a href="{{ "#cover" }}">
                    <div class="logo logomobile"></div>
                </a>
            {% endif %}
        </div>
    </nav>
    <nav class="navbar">
        {% if  app.request.get('_route') == 'app_projet' %}
            <a href="{{ path("app_clement_vasques", {'_fragment':'portfolio'}) }}" class="container_menu"><div class="empty_bloc"></div><div class="menu_elements">Portfolio</div><div class="border_bottom"></div></a>
        {% else %}
            <a href="#portfolio" class="container_menu"><div class="empty_bloc"></div><div class="menu_elements">Portfolio</div><div class="border_bottom"></div></a>
        {% endif %}

        <div class="empty_bloc2"></div>

        {% if  app.request.get('_route') == 'app_projet' %}
            <a href="{{ path("app_clement_vasques", {'_fragment':'competences'}) }}" class="container_menu">
                <div class="empty_bloc"></div>
                <div class="menu_elements">Compétences
                </div>
                <div class="border_bottom"></div>
            </a>
        {% else %}
            <a href="{{ "#competences" }}" class="container_menu">
                <div class="empty_bloc"></div>
                <div class="menu_elements">Compétences
                </div>
                <div class="border_bottom"></div>
            </a>
        {% endif %}

        <div class="empty_bloc2"></div>

        {% if  app.request.get('_route') == 'app_projet' %}
            <a href="{{ path("app_clement_vasques", {'_fragment':'apropos'}) }}" class="container_menu">
                <div class="empty_bloc"></div>
                <div class="menu_elements">à propos
                </div>
                <div class="border_bottom"></div>
            </a>
        {% else %}
            <a href="{{ "#apropos" }}" class="container_menu">
                <div class="empty_bloc"></div>
                <div class="menu_elements">à propos
                </div>
                <div class="border_bottom"></div>
            </a>
        {% endif %}

        <div class="empty_bloc2"></div>

        {% if  app.request.get('_route') == 'app_projet' %}
            <a href="{{ path("app_clement_vasques", {'_fragment':'contact'}) }}" class="container_menu">
                <div class="empty_bloc"></div>
                <div class="menu_elements">Contact
                </div>
                <div class="border_bottom"></div>
            </a>
        {% else %}
            <a href="{{ "#contact" }}" class="container_menu">
                <div class="empty_bloc"></div>
                <div class="menu_elements">Contact
                </div>
                <div class="border_bottom"></div>
            </a>
        {% endif %}
    </nav>
</div>



