{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/pong.css') }}">
{% endblock %}

{% block body %}
<div class="global_container">
    <div class="container">
        {# <div class="commentaire_lancement">Find another player or do an autoplay</div> #}

        <div class="score">
            <div class="containerScore">
                <div class="ecritureScore">Score</div>
                <div class="ecriturePlayer1">Player 1:</div>
                <div class="scoreplayer1">
                    <div class="scorePlayer1">0</div>
                </div>
            </div>
            <div class="containerGameplay">
                <div class="top">Top : press Z</div>
                <div class="down">Down : press X</div>
            </div>
        </div>
        <div class="box">
            <div class="ball"></div>
            <div class="planchePlayer1"></div>
            <div class="planchePlayer2"></div>
            <div class="filet">
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
                <div class="tiret"></div>
            </div>
            <div class="winnerEcriture">
                <div class="numeroPlayerWinner"></div>
            </div>
            <div class="replay">Replay</div>
        </div>
        <div class="score">
            <div class="containerScore">
                <div class="ecritureScore">Score</div>
                <div class="ecriturePlayer1">Player 2:</div>
                <div class="scoreplayer1">
                    <div class="scorePlayer2">0</div>
                </div>
            </div>
            <div class="containerGameplay">
                <div class="top">Top : press I</div>
                <div class="down">Down : press N</div>
            </div>
        </div>
    <div class="space">Find another physic player / Press Space to play (and cheat)</div>

</div>
</div>


{% endblock %}


{% block javascripts %}
            <script src="{{ asset('js/pong.js') }}"></script>
{% endblock %}