{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/postit.css') }}">
{% endblock %}

{% block body %}
    <div class="container_postit">
        <div class="postit"></div>
    </div>
    <div class="container_postit">
        <div class="postit2"></div>
    </div>



{% endblock %}


{% block javascripts %}
            {# <script src="{{ asset('/.js') }}"></script> #}
{% endblock %}