{% extends 'base.html.twig' %}




{% block title %}
    {% for project in projects %}
        {% if id == project.id %}
                {{project.name}} 
        {% endif %}
    {% endfor %}
{% endblock %}



{% block body %}

    {% include 'navbar.html.twig'%}

    <div class="navbar_on_white_background"></div>

    <div class="navbar_separation"></div>

    <div class="large_container_single_project">

        {# display arrow or not #}
        {% if id == firstIdProject %}
            {# do nothing #}
        {% else %}
            <a href="{{ path("app_projet", {id:id - 1 }) }}" class="arrow_previous_project"></a>
        {% endif %}

        {% for project in projects %}


            {% if id == project.id %}


                <div class="container_single_project">
                    <div class="left_column_single_project">
                        <div class="title_single_project">{{ project.name }}</div>

                        <div class="highlighted_subtitle_single_project"></div>
                        <div class="container_skills_project">
                            {% set langages = project.langages|split(' ') %}
                            {% for langage in langages %}
                                <div class="skill_project">{{ langage }}</div>
                            {% endfor %}
                        </div>
                        <div class="date">{{ project.DateProject }}</div>
                        <div class="content">{{ project.content }}</div>
                    </div>

                    <img src="/{{ project.SrcImg }} " alt="{{ project.AltImg }}" title="{{ project.TitleImg }}" class="right_column_single_project">
                </div>

                <div class="container_single_project_mobile">
                        <div class="container_title_single_project">
                                <div class="title_single_project">{{ project.name }}</div>
                                <div class="highlighted_subtitle_single_project"></div>
                        </div>
                        <div class="container_skill_grid">
                            <div class="container_skills_project">
                                {% set langages = project.langages|split(' ') %}
                                {% for langage in langages %}
                                    <div class="skill_project">{{ langage }}</div>
                                {% endfor %}
                            </div>
                            <div class="date">{{ project.DateProject }}</div>
                        </div>

                        <div class="container_image_single_project">

                            <img src="/{{ project.SrcImg }}" alt="{{ project.AltImg }}" title="{{ project.TitleImg }}" class="right_column_single_project">

                            {% if id == firstIdProject %}
                                {# do nothing #}
                            {% else %}
                                <a href="{{ path("app_projet", {id:id - 1 }) }}" class="arrow_previous_project_mobile"></a>
                            {% endif %}

                            {% if id == lastIdProject %}
                            {% else %}
                                <a href="{{ path("app_projet", {id:id + 1 }) }}" class="arrow_next_project_mobile"></a>
                            {% endif %}
                        </div>
                        
                        <div id="container_content_project" class="container_content_project">
                            {# cut content on 80 first characters #}
                            <div class="content contentCut">{{ project.content[:80] }}
                                <span class="dot_content">... </span> 
                                <a href="#container_content_project" class="see_more">Voir plus</a>
                            </div>

                            <div class="content contentEntire">{{ project.content }}</div>
                        </div>
                        

                    </div>

                </div>

            {% endif %}



        {% endfor %}
        
    </div>

    {# display arrow or not #}




    <div class="blank_separation_project">
        {% if id == lastIdProject %}
        {% else %}
            <a href="{{ path("app_projet", {id:id + 1 }) }}" class="arrow_next_project"></a>
        {% endif %}
    </div>
 


       <div class="container_arrow_single_project">
        <a href="#blank_separation_project3" class="arrow_project_bottom"></a>
    </div>

    <div id="blank_separation_project3" class="blank_separation_project3"></div>


    <div class="container_my_project">
            {% for project in projects %}
                {% if id == project.id %}
                    {% include project.TemplateName  %}
                {% endif %}
            {% endfor %}
    </div>

    <div class="blank_separation_project2"></div>

    <div class="blank_separation_project4"></div>


    {% include 'footer.html.twig' %}


{% endblock %}



{# !!! ATTENTION #}
{% block javascripts %}
            <script src="{{ asset('js/animNavbarOnScroll.js') }}"></script>
            <script src="{{ asset('js/project.js') }}"></script>
{% endblock %}

